@font-face {
    font-family: BrandonTextThin;
    src: url(../fonts/BrandonText_Thin.otf);
}

@font-face {
    font-family: BrandonTextLight;
    src: url(../fonts/BrandonText_Light.otf);
}

@font-face {
    font-family: BrandonTextRegular;
    src: url(../fonts/BrandonText_Regular.otf);
}

@font-face {
    font-family: BrandonTextMedium;
    src: url(../fonts/BrandonText_Medium.otf);
}

@font-face {
    font-family: BrandonTextBold;
    src: url(../fonts/BrandonText_Bold.otf);
}